<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fooqoo.trade.stock.crawler.infrastructure.mapper.mysql.PriceMapper">

    <resultMap id="Price" type="fooqoo.trade.stock.crawler.domain.model.Price">
        <result property="code" column="code"/>
        <result property="codeName" column="code_name"/>
        <result property="market" column="market"/>
        <result property="sector" column="sector"/>
        <result property="crawledDate" column="crawled_date"/>
        <result property="price" column="price"/>
        <result property="priceDayOverDay" column="price_day_over_day"/>
        <result property="priceDayOverDayPercentage" column="price_day_over_day_percentage"/>
        <result property="closed" column="closed"/>
        <result property="opening" column="opening"/>
        <result property="high" column="high"/>
        <result property="low" column="low"/>
        <result property="vwap" column="vwap"/>
        <result property="volume" column="volume"/>
        <result property="volumePercentage" column="volume_percentage"/>
        <result property="tradingValue" column="trading_value"/>
        <result property="marketCapitalization" column="market_capitalization"/>
        <result property="priceLowLimit" column="price_low_limit"/>
        <result property="priceHighLimit" column="price_high_limit"/>
        <result property="dateOfHighPrice" column="date_of_high_price"/>
        <result property="yearlyHigh" column="yearly_high"/>
        <result property="rateOfDeviationOfYearlyHigh" column="rate_of_deviation_of_yearly_high"/>
        <result property="dateOfLowPrice" column="date_of_low_price"/>
        <result property="yearlyLow" column="yearly_low"/>
        <result property="rateOfDeviationOfYearlyLow" column="rate_of_deviation_of_yearly_low"/>
    </resultMap>

    <insert id="insertPrice" parameterType="fooqoo.trade.stock.crawler.domain.model.Price">
        <![CDATA[


                        INSERT INTO price (
                            code,
                            code_name,
                            market,
                            sector,
                            crawled_date,
                            price,
                            price_day_over_day,
                            price_day_over_day_percentage,
                            closed,
                            opening,
                            high,
                            low,
                            vwap,
                            volume,
                            volume_percentage,
                            trading_value,
                            market_capitalization,
                            price_low_limit,
                            price_high_limit,
                            date_of_high_price,
                            yearly_high,
                            rate_of_deviation_of_yearly_high,
                            date_of_low_price,
                            yearly_low,
                            rate_of_deviation_of_yearly_low
                        ) values (
                            #{code},
                            #{codeName},
                            #{market},
                            #{sector},
                            #{crawledDate},
                            #{price},
                            #{priceDayOverDay},
                            #{priceDayOverDayPercentage},
                            #{closed},
                            #{opening},
                            #{high},
                            #{low},
                            #{vwap},
                            #{volume},
                            #{volumePercentage},
                            #{tradingValue},
                            #{marketCapitalization},
                            #{priceLowLimit},
                            #{priceHighLimit},
                            #{dateOfHighPrice},
                            #{yearlyHigh},
                            #{rateOfDeviationOfYearlyHigh},
                            #{dateOfLowPrice},
                            #{yearlyLow},
                            #{rateOfDeviationOfYearlyLow}
                        )


        ]]>
    </insert>

    <select id="findPurchaseSignedPrice" resultMap="Price">
        <![CDATA[


                        WITH MOVING_AVG AS (
                            SELECT
                                code,
                                crawled_date,
                                price,
                                AVG(price) OVER (PARTITION BY code ORDER BY crawled_date ROWS BETWEEN 5 PRECEDING AND CURRENT ROW) AS avg_price_five_days,
                                AVG(price) OVER (PARTITION BY code ORDER BY crawled_date ROWS BETWEEN 20 PRECEDING AND CURRENT ROW) AS avg_price_twenty_days,
                                AVG(price) OVER (PARTITION BY code ORDER BY crawled_date ROWS BETWEEN 40 PRECEDING AND CURRENT ROW) AS avg_price_fourty_days
                            FROM
                                price
                        ),
                        LATEST_THREE_DAYS AS (
                            SELECT DISTINCT(crawled_date) AS crawled_date FROM price ORDER BY crawled_date DESC LIMIT 3
                        ),
                        PRICE_STAGE AS (
                                SELECT
                                A.code,
                                A.price,
                                A.avg_price_five_days,
                                A.avg_price_twenty_days,
                                A.avg_price_fourty_days,
                                CASE
                                WHEN A.avg_price_five_days >= A.avg_price_twenty_days AND A.avg_price_five_days >= A.avg_price_fourty_days AND A.avg_price_twenty_days >= A.avg_price_fourty_days THEN 1
                                WHEN A.avg_price_five_days < A.avg_price_twenty_days AND A.avg_price_five_days >= A.avg_price_fourty_days AND A.avg_price_twenty_days >= A.avg_price_fourty_days THEN 2
                                WHEN A.avg_price_five_days < A.avg_price_twenty_days AND A.avg_price_five_days < A.avg_price_fourty_days AND A.avg_price_twenty_days >= A.avg_price_fourty_days THEN 3
                                WHEN A.avg_price_five_days < A.avg_price_twenty_days AND A.avg_price_five_days < A.avg_price_fourty_days AND A.avg_price_twenty_days < A.avg_price_fourty_days THEN 4
                                WHEN A.avg_price_five_days >= A.avg_price_twenty_days AND A.avg_price_five_days < A.avg_price_fourty_days AND A.avg_price_twenty_days < A.avg_price_fourty_days THEN 5
                                WHEN A.avg_price_five_days >= A.avg_price_twenty_days AND A.avg_price_five_days >= A.avg_price_fourty_days AND A.avg_price_twenty_days < A.avg_price_fourty_days THEN 6
                                ELSE null
                                END AS stage,
                                A.crawled_date
                            FROM
                                MOVING_AVG A INNER JOIN LATEST_THREE_DAYS B ON A.crawled_date = B.crawled_date
                        ),
                        PURCHACE_SIGNED_CODE AS (
                            SELECT
                                code,
                                GROUP_CONCAT(stage ORDER BY crawled_date DESC SEPARATOR '/') AS stage_before_three_days,
                                MAX(crawled_date) AS latest_date
                            FROM
                                PRICE_STAGE
                            GROUP BY
                                code
                        )
                        SELECT
                            P.*
                        FROM
                            price P INNER JOIN PURCHACE_SIGNED_CODE S ON P.code = S.code AND P.crawled_date = S.latest_date
                        WHERE
                            stage_before_three_days = '5/5/4' AND volume >= 10000 AND market_capitalization >= 10000 AND price <= 5000
                        ORDER BY
                            price_day_over_day_percentage
                        DESC


        ]]>
    </select>

</mapper>